simpe_webhook_waha.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        640
      ],
      "id": "cde7d63e-7b12-4abc-93b6-77dd90bec9cb",
      "name": "When chat message received",
      "webhookId": "84fda90d-b391-472d-9292-eb121a1f45fb"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -740,
        960
      ],
      "id": "8c08239b-89b7-4e3e-b8e6-0718a4093a53",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0o4pMAnG1wVGKNMK",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "text": "",
        "options": {
          "systemMessage": "The following is a WhatsApp message received from a user: {{ $json.body.payload.body }}\n\nGunakan data dari spreadsheet yang diberikan untuk menjawab pertanyaan tentang stok atau harga produk. Jika produk tidak ditemukan, jawab 'Produk tidak ditemukan."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -708,
        740
      ],
      "id": "889f89c5-8031-43ab-bf01-219fef8fb884",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ch1cIiY6fDYE_Cck9aRpJRZI9sPXYlVpX4VThCJCcMw",
          "mode": "list",
          "cachedResultName": "N8n Product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ch1cIiY6fDYE_Cck9aRpJRZI9sPXYlVpX4VThCJCcMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ch1cIiY6fDYE_Cck9aRpJRZI9sPXYlVpX4VThCJCcMw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -500,
        960
      ],
      "id": "c3c13599-64ee-4b6a-b802-870a8052a14f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QqjPJ8beE5HkF16A",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -620,
        960
      ],
      "id": "ca49dc37-fea6-4e3e-9d03-69e1d7df0866",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24930e5d-320e-4262-bdf5-dc565b352051",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        840
      ],
      "id": "ae348b05-5bac-4c99-8ea8-097aa1af4f4d",
      "name": "Webhook",
      "webhookId": "24930e5d-320e-4262-bdf5-dc565b352051"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63e9a348-597c-4755-96fc-d42717b22cf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af4c3a50cadae281b5152b526403b7dec7aec9f42ddd15a80474a5f06962c8b8"
  },
  "id": "JAjW917tcyAYxuul",
  "tags": [
    {
      "createdAt": "2025-06-05T06:28:31.865Z",
      "updatedAt": "2025-06-05T06:28:31.865Z",
      "id": "Lsaw8mmgsRp02cFU",
      "name": "Testing"
    }
  ]
}